.menu li{
    list-style:none;
    position:relative;
    }
.menu_list{
    display:flex;
    }
.menu_list>li{
    margin: 0px 10px 0px 0px;
    }
.menu_list>li:hover .sub_menu_list{
    display:block;
}
.sub_menu_list{
    display:none;
    position:absolute;
    left:0;
    top:20px;
    background-color:#fff;
    padding: 1px 1px 1px 1px;
    }
h1{
    font-family:monospace;
    text-align:center;
    color:rgb(16, 17, 26);
    font-size:20px;
}
.plot{
    display:inline-block;
}